* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 15px 50px;
  max-width: 320px;
  // margin-bottom: 16px;
  margin: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}
.country-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  // border: 1px solid blue;
  border-radius: 10px;
  // max-width: fit-content;
}
.country-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid blue;
  border-radius: 10px;
  padding: 25px 50px;
}
.country-list li {
  padding: 10px;
  display: flex;
  align-items: center;
}
.countyName {
  font-size: xx-large;
}
p {
  display: flex;
}
